assignments-solved/Assignment_3oldv2/.ipynb_checkpoints/xml_schema-checkpoint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="record" type="recordType"/>
  <xs:complexType name="recordType">
    <xs:sequence>
      <xs:element type="xs:string" name="artist"/>
      <xs:element type="xs:string" name="year"/>
      <xs:element type="xs:string" name="contributor"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>